.saved-products {
    padding-block: 10rem !important;
    .bookmark img {
        max-width: 22px;
    }

    .bookmark {
        position: absolute;
        top: 12px;
        left: 25px;
        cursor: pointer;

        padding: 8px 10px;
        background-color: #67b346;
        border-radius: 40px;
    }
}
